# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
.venv/

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Artifacts (scaler is in models/ tracked by git)
artifacts/

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl

# Environment
.env
